<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="admin/_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>标签管理</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../../static/css/me.css"/>
	</head>
	<body>
		<!--导航-->
		<nav th:replace="admin/_fragments ::menu(3)"	>
			<div class="ui fixed inverted borderless menu m-padded-mini m-shadow-header">
				
				<div class="item m-margin-lr-large">
					<img class="ui tiny image" src="../../static/image/truck-monster.svg" >
					<h2 class="ui teal large header item">
						后台管理
					</h2>
				</div>			
				<a href="#" class="item m-margin-tb-large"><i class="home icon"></i>博客</a>
				<a href="#" class="item m-margin-tb-large"><i class="th list icon"></i>分类</a>
				<a href="#" class="item m-margin-tb-large"><i class="tags icon"></i>标签</a>
				<div class="right menu m-margin-lr-large m-margin-tb-large">
					<div class="ui dropdown item">
						<div class="text">
							<img src="https://picsum.photos/id/904/100/100" class="ui avatar image" />
							Irivng
						</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<a href="#" class="item">注销</a>
						</div>
					</div>
				</div>
				
				
			</div>
		</nav>
		<div class="ui pointing menu m-margin-top-massive">
			<div class="ui container">
				<div class="right menu">
					<a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
					<a href="#" th:href="@{/admin/tags}" class="teal active item">管理</a>
				</div>
				
			</div>
			
		</div>
		<!--main -->
		<div class="m-container-small m-padded-middle m-margin-top-massive ">
			<div class="container">
				<div class="ui success message" th:unless="${#strings.isEmpty(message)}">
					<i class="close icon"></i>
					<div class="header">提示：</div>
					<P th:text="${message}">恭喜，操作成功！</P>
				</div>

				<table class="ui compact teal padded table">
					<thead>
						<tr style="text-align:center;">
							<th></th>
							<th>名称</th>
							<th>操作</th>

						</tr>
					</thead>
					<tbody>
						<tr style="text-align:center;" th:each=" tag,iterStat : ${page.content}">
							<td th:text="${iterStat.count}">1</td>
							<td th:text="${tag.name}">自控力</td>
							<td>
								<a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini teal basic button m-margin-lr-large">编辑</a>
								<a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button ">删除</a>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr><th colspan="6" >
						      <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
						        <a th:href="@{/admin/tags(page=${page.number}-1)}" class="item"  th:unless="${page.first}">上一页</a>
								<a th:href="@{/admin/tags(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
						      </div>
							  <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>
						    </th>
						  </tr>
					</tfoot>
				</table>
			</div>
		</div>
		
		<!--foot -->
		<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tiny m-margin-top-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">						
						 <img  src="../../static/image/Wechat.jpg" class="ui centered rounded image" style="width: 110px;">
					</div>					
					<div class="three wide column">
						<div class="item"></div>
						<h4 class="ui inverted header" style="opacity: 0.8;">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事</a>
							<a href="#" class="item">用户故事</a>
							<a href="#" class="item">用户故事</a>
						</div>
					</div>
					<div class="three wide column">
						<div class="item"></div>
						<h4 class="ui inverted header" style="opacity: 0.8;">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">QQ：666666</a>
							<a href="#" class="item">邮箱：forawhile@163.com</a>
						</div>
					</div>
					<div class="seven wide column">
						<div class="item"></div>
						<h4 class="ui inverted header" style="opacity: 0.8;">最新博客</h4>
						<p class="m-text-space m-text-opacity-mini">
							这是我的个人博客，会分享关于编程、生活的一些小故事，感谢你们愿意花费时间来到我的小天地，希望你们在这儿可以开心
						</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-space m-text-opacity-mini">Copyright © 2019 - 2020 ForaWhile Designed by ForaWhile</p>
			</div>
			
		</footer>
		<th:block th:replace="admin/_fragments :: script">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		</th:block>
		<script>
			$('.ui.dropdown').dropdown();

			//消息可关闭
			
			$('.message .close')
					.on('click', function() {
						$(this)
								.closest('.message')
								.transition('fade')  //fade消失动画
						;
					})
			;
		</script>
		
	</body>
</html>
