<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>分类</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../static/css/me.css"/>
	</head>
	<body>
		<!--导航-->
		<nav th:replace="_fragments :: menu(2)">
			<div class="ui fixed inverted borderless menu m-padded-mini m-shadow-header">
				
				<div class="item m-margin-lr-large">
					<img class="ui tiny image" src="../static/image/truck-monster.svg" >
					<h2 class="ui teal large header item">
						ForaWhile
					</h2>
				</div>			
				<a href="#" class="item m-margin-tb-large"><i class="home icon"></i><span style="font-size: 22px;font-family: 华文行楷">首页</span></a>
				<a href="#" class="active item m-margin-tb-large"><i class="th list icon"></i><span style="font-size: 22px;font-family: 华文行楷">分类</span></a>
				<a href="#" class="item m-margin-tb-large"><i class="tags icon"></i><span style="font-size: 22px;font-family: 华文行楷">标签</span></a>
				<a href="#" class="item m-margin-tb-large"><i class="clone icon"></i><span style="font-size: 22px;font-family: 华文行楷">归档</span></a>
				<a href="#" class="item m-margin-tb-large"><i class="image icon"></i><span style="font-size: 22px;font-family: 华文行楷">照片</span></a>
				<a href="#" class="item m-margin-tb-large"><i class="male icon"></i><span style="font-size: 22px;font-family: 华文行楷">关于我</span></a>
				<div class="right item m-margin-lr-large">
					<div class="ui icon transparent input">
						<input type="text" placeholder="search...">
						<i class="search inverted icon"></i>
					</div>
				</div>
				
			</div>
		</nav>		
		<!--main -->
		<div class="m-container-small m-padded-middle m-margin-top-massive ">
			<div class="container">
				<!-- header -->
				<div class="ui top attached segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<h2 class="ui teal header">分类</h2>
						</div>
						<div class="right aligned column">
							共 <h2 class="ui orange header m-inline-block" th:text="${#arrays.length(types)}">14</h2> 个
						</div>
					</div>
				</div>
				
				<div class="ui attached segment m-padded-large">
					<div class="ui labeled button m-margin-tiny" th:each="type : ${types}">
						<a href="#" th:href="@{/type/{id}(id=${type.id})}" class="ui basic button" th:classappend="${type.id==activeTypeId} ? 'teal'"  th:text="${type.name}">思考</a>
						<div class="ui basic label" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${#arrays.length(type.blogs)}">14</div>
					</div>
				</div>
				
				<div class="ui top attached teal segment">
					<div class="ui padded vertical segment m-padded-middle" th:each="blog : ${page.content}">
						<div class="ui middle aligned mobile reversed stackable grid" >
							<div class="eleven wide column">
								<h3 class="ui header" ><a href="#" class="m-black" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" th:text="${blog.title}" >哈哈哈哈</a></h3>
								<p th:text="|${blog.description}......|">大萨达所多撒多撒多撒大所多撒多撒多撒多撒大所多撒多撒大大所大师大师多撒多安达市大所大的</p>
								<div class="ui stackable grid">
									<div class="eleven wide column">
										<div class="ui horizontal link list">
											<div class="item">
												<img src="https://picsum.photos/id/904/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image"/>
												<div class="content">
													<a href="#" class="header" th:href="${blog.user.nickname}">君哲义</a>
												</div>
											</div>
											<div class="item">
												<i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"> 2020-6-27</span>
											</div>
											<div class="item">
												<i class="eye icon"></i><span th:text="${blog.views}">23</span>
											</div>
										</div>
									</div>
									<div class="right aligned five wide column">
										<a href="#" target="_blank" class="ui teal basic label m-padded-tiny" th:text="${blog.type.name}">升级</a>
									</div>
								</div>
							</div>
							<div class="five wide column">
								<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
									<img src="https://picsum.photos/id/1004/860/460"  th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
								</a>
							</div>
						</div>
					</div>
					
				</div>
				<!-- footer -->
				<div class="ui bottom attached segment" th:if="${page.totalPages}>1">
					<div class="ui middle aligned two column grid" >
						<div class="column">
							<div class="ui animated teal basic button" tabindex="0">
								<div class="visible content"><a th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}">上一页</a></div>
								<div class="hidden content">
									<i class="left arrow icon"></i>
								</div>
							</div>
						</div>
						<div class="right aligned column" >
							<div class="ui animated teal basic button" tabindex="0">
								<div class="visible content"><a th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}">下一页</a></div>
								<div class="hidden content">
									<i class="right arrow icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--foot -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tiny m-margin-top-middle">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">						
						 <img  src="../static/image/Wechat.jpg" class="ui centered rounded image" style="width: 110px;">
					</div>					
					<div class="three wide column">
						<div class="item"></div>
						<h4 class="ui inverted header" style="opacity: 0.8;">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事</a>
							<a href="#" class="item">用户故事</a>
							<a href="#" class="item">用户故事</a>
						</div>
					</div>
					<div class="three wide column">
						<div class="item"></div>
						<h4 class="ui inverted header" style="opacity: 0.8;">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">QQ：666666</a>
							<a href="#" class="item">邮箱：forawhile@163.com</a>
						</div>
					</div>
					<div class="seven wide column">
						<div class="item"></div>
						<h4 class="ui inverted header" style="opacity: 0.8;">最新博客</h4>
						<p class="m-text-space m-text-opacity-mini">
							这是我的个人博客，会分享关于编程、生活的一些小故事，感谢你们愿意花费时间来到我的小天地，希望你们在这儿可以开心
						</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<p class="m-text-space m-text-opacity-mini">Copyright © 2019 - 2020 ForaWhile Designed by ForaWhile</p>
			</div>
			
		</footer>
		<th:block th:replace="_fragments :: script">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		</th:block>
		
	</body>
</html>
